<section class="m-5">
    <app-add-event></app-add-event>
    <hr>
    <div class="row">
        <div class="col-4 form-group m-3 p-3">
            <input type="text" class="form-control" (keyup)="change()" [(ngModel)]="search" placeholder="titre de l'event">
        </div>
        <div class="col-4 m-3 p-3 row">
            <div class="m-1">
                <button class="btn btn-primary" (click)="change('Foot')">Foot</button> 
            </div>
            <div class="m-1">
                <button class="btn btn-primary" (click)="change('F1')">Formule 1</button> 
            </div>
            <div class="m-1">
                <button class="btn btn-primary" (click)="change('Tennis')">Tennis</button> 
            </div>
        </div>
    </div>
    <div class="col-12 list" data-simplebar>
        <app-list-event></app-list-event>
    </div>
</section>