<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#my-nav" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mx-2" [ngClass]="{'active': HomeIsValid == true}">
                <a class="nav-link rounded" [ngClass]="{'bg-item': HomeIsValid == true}" routerLink="/Home" (click)="ValidHome()">Accueil</a>
            </li>
            <li class="nav-item" [ngClass]="{'active': BackOfficeIsValid == true}">
                <a class="nav-link rounded" [ngClass]="{'bg-item': BackOfficeIsValid == true}" routerLink="/BackOffice" (click)="ValidBackOffice()">Back Office</a>
            </li>
        </ul>
    </div>
</nav>