<div class="row pt-5">
    <article class="col-12">
        <app-alert></app-alert>
        <div class="row form-group">
            <div class="col-4">
                <label for="">Detail de l'événement *</label>
                <input class="form-control" type="text" [ngClass]="{alert: isValid == true && titleIsValid == false}"
                    [(ngModel)]="title" required>
            </div>
            <div class="col-2">
                <label for="">Début *</label>
                <input class="form-control" type="date" [ngClass]="{alert: isValid == true && dateIsValid == false}"
                    [(ngModel)]="StartDate" required>
            </div>
            <div class="col-2">
                <label for="">Fin</label>
                <input class="form-control" type="date" [(ngModel)]="EndDate" required>
            </div>
            <div class="col-3">
                <label>&nbsp;</label>
                <select class="form-control" [ngClass]="{alert: isValid == true && typeIsValid == false}" [(ngModel)]="type">
                    <option value="">-- Choisir un Sport --</option>
                    <option value="foot">Foot</option>
                    <option value="f1">Formule 1</option>
                    <option value="tennis">Tennis</option>
                    <option value="autre">Autre</option>
                </select>
            </div>
            <div class="col-1">
                <label>&nbsp;</label>
                <button class="btn btn-primary m-auto" (click)="valider()">{{btn}}</button>
            </div>
        </div>
    </article>
</div>